<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>nps-scrap</display-name>
	<servlet>
		<servlet-name>btw-wskit-ke</servlet-name>
		<servlet-class>btworks.wskit.server.service.WCryptoServlet</servlet-class>
		<init-param>
			<param-name>keyStore</param-name>
			<param-value>/WEB-INF/config/btw/btw-p12.keystore</param-value>
		</init-param>
		<init-param>
			<param-name>keyStoreType</param-name>
			<param-value>JKS</param-value>
		</init-param>
		<init-param>
			<param-name>encKsPasswd</param-name>
			<param-value>pSftxhsAyqiMZKLp0Pu9Aw==</param-value>
		</init-param>
		<init-param>
			<param-name>keyAlias</param-name>
			<param-value>btwp12</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
</web-app>
